@import "./variables";

/*从上滑下的显示动画：to-bottom*/
.to-bottom-enter-active, .to-bottom-leave-active {
  transition: all .4s;
  transform-origin: top;
  transform: scaleY(1);
}

.to-bottom-enter, .to-bottom-leave-to {
  transform: scaleY(0);
}

/*从右滑左的显示动画:to-left*/
.to-left-enter-active {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.to-left-enter {
  opacity: 0;
  transform: translate3d(30%, 0, 0);
}

/*淡入动画:fade-in*/
.fade-in-enter-active, .fade-in-leave-active {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
  opacity: 1;
}

.fade-in-enter, .fade-in-leave-to {
  opacity: 0
}

/*缩放过度*/
.scale-in-enter-active, .scale-in-leave-active {
  transition: all .15s linear;
  opacity: 1;
}

.scale-in-enter, .scale-in-leave-to {
  opacity: 0;
  transform: scale(1.1, 1.1);
}

.collapse-transition {
  transition: $transition-time height ease-in-out, $transition-time padding-top ease-in-out, $transition-time padding-bottom ease-in-out;
}

/*缩放过度*/
.popper-scale-enter-active, .popper-scale-leave-active {
  transition: all .1s linear;
  opacity: 1;
}

.popper-scale-enter, .popper-scale-leave-to {
  opacity: 0;
  transform: scale(0.75, 0.75);
}

$scale-direction: (
  top-start:bottom left,
  bottom-start:top left,
  left-start:right top,
  right-start:left top,
  top-center:bottom center,
  bottom-center:top center,
  left-center:right center,
  right-center:left center,
  top-end:bottom right,
  bottom-end:top right,
  left-end:right bottom,
  right-end:left bottom,
);

/*按钮形状*/
@each $key, $value in $scale-direction {
  .scale-origin-#{$key} {
    transform-origin: $value;
  }
}
