/*从上滑下的显示动画：to-bottom*/
.to-bottom-enter-active, .to-bottom-leave-active {
  transition: all .4s;
  transform-origin: top;
  transform: scaleY(1);
}

.to-bottom-enter, .to-bottom-leave-to {
  transform: scaleY(0);
}

/*从右滑左的显示动画:to-left*/
.to-left-enter-active {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.to-left-enter {
  opacity: 0;
  transform: translate3d(30%, 0, 0);
}

/*淡入动画:fade-in*/
.fade-in-enter-active, .fade-in-leave-active {
  transition: all .5s cubic-bezier(.55, 0, .1, 1);
  opacity: 1;
}

.fade-in-enter, .fade-in-leave-to {
  opacity: 0
}
