/*
* author:   weishengjian
* time:     2018-5-8
* desc:     css样式变量文件
*/

/*Css Prefix  css前缀*/
$css-prefix: a;
$css-prefix-btn: #{$css-prefix}-btn; //a-btn
$css-prefix-icon: #{$css-prefix}-icon; //a-icon
$css-prefix-row: #{$css-prefix}-row; //a-row
$css-prefix-col: #{$css-prefix}-col; //a-col
$css-prefix-input: #{$css-prefix}-input; //a-input
$css-prefix-textarea: #{$css-prefix}-textarea; //a-textarea
$css-prefix-switch: #{$css-prefix}-switch; //a-switch
$css-prefix-modal: #{$css-prefix}-modal; //a-modal
$css-prefix-confirm-modal: #{$css-prefix}-confirm-modal; //a-modal

/*颜色值*/
$colors: (
  primary:#0ac2ff,
  info:#ddd,
  success:#00ff80,
  warning:#e9f01d,
  error:#e03636,
);

/*文字颜色*/
$text-color-default: #a0aaa7;
$text-color-light: #d9dbe2;
$text-color-deep: #636369;
$text-color-main: #e03636;
$text-color-main2: #5aff78;

/*文字大小*/
$font-sizes: (
  xl:24px,
  large:16px,
  middle:15px,
  base:14px,
  small:12px,
);
$font-size-large: map_get($font-sizes, large);
$font-size-base: map_get($font-sizes, base);
$font-size-small: map_get($font-sizes, small);
$font-size-xl: map_get($font-sizes, xl);

/*内边距*/
$paddings: (
  large:12px 12px,
  middle:9px 12px,
  base:8px 12px,
  small:6px 12px,
);
$padding-large: map_get($paddings, large);
$padding-base: map_get($paddings, base);
$padding-small: map_get($paddings, small);

/*圆角*/
$border-radiuses: (
  circle:64px,
  round:32px,
  fillet:6px,
  none:0
);
$border-circle: map_get($border-radiuses, circle);
$border-fillet: map_get($border-radiuses, fillet);
$border-none: map_get($border-radiuses, none);

/*边框样式*/
$border-styles: (
  dotted:dotted,
  dashed:dashed,
  solid:solid,
  double:double,
  groove:groove,
  ridge:ridge,
  inset:inset,
  outset:outset,
);

/*屏幕大小*/
/*$screen-xs*/
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1920px;

//栅格个数
$cell-num: 24;

$screens: (
  xs:(max-width:$screen-sm),
  sm:(min-width:$screen-sm),
  md:(min-width:$screen-md),
  lg:(min-width:$screen-lg),
  xl:(min-width:$screen-xl),
);

$flexs: (
  start:(justify-content:flex-start),
  center:(justify-content:center),
  end:(justify-content:flex-end),
  space-between:(justify-content:space-between),
  space-around:(justify-content:space-around),
  top:(align-items:flex-start),
  middle:(align-items:center),
  bottom:(align-items:flex-end),
);

/*-------------------------------Custome-------------------------------*/

/*顶部header高度*/
$app-head-height: 44px;

/*背景色*/
$bg-color: #3b3b3e;
$bg-deep-color: #191b1f;
$bg-light-color: #232529;

/*下划线*/
$border-bottom-line: solid 1px $text-color-main; //红色下划线

$switchSize: (
  small:(height:21px),
  middle:(height:27px),
  large:(height:36px),
);

$transition-time: 0.15s;


