/*
* author:   weishengjian
* time:     2018-5-8
* desc:     css样式变量文件
*/

/*顶部header高度*/
head-height = 44px;

/*字体大小*/
font-big = 16px;
font-mid = 14px;
font-sm = 12px;

/*字体颜色*/
font-color = #a0aaa7;
font-color-light = #d9dbe2;

font-color-red = #e03636;
font-color-cyan = #5aff78;

/*背景色*/
bg-color = #222225;
bg-deep-color = #191b1f;
bg-light-color = #232529;

border-bottom-line = solid 1px font-color-red;


