/*
* author:   weishengjian
* time:     2018-5-8
* desc:     css样式变量文件
*/

/*Css Prefix*/
$css-prefix: a-;
$css-prefix-icon: a-icon;

$colors: (
  primary:#495a80,
  info:#ddf0ed,
  success:#00ff80,
  warning:#e9f01d,
  error:#f17c67,
);

/*Base*/
$body-background: #3b3b3e;
$title-color: #e03636;

$text-color: #a0aaa7;
$text-color-light: #d9dbe2;
$text-color-deep: #636369;
$text-color-main: #e03636;
$text-color-main2: #5aff78;

$font-size-large: 16px;
$font-size-base: 14px;
$font-size-small: 12px;

/*-------------------------------Custome-------------------------------*/

/*顶部header高度*/
$app-head-height: 44px;

/*背景色*/
$bg-color: #3b3b3e;
$bg-deep-color: #191b1f;
$bg-light-color: #232529;

/*下划线*/
$border-bottom-line: solid 1px $text-color-main; //红色下划线


