$btn-prefix-cls: #{$css-prefix}btn;

.#{$btn-prefix-cls} {

  /*按钮默认样式*/
  background-color: rgba(255, 255, 255, 0.1);
  &, & * {
    color: $text-color-light;
  }
  @include transition-all;
  padding: 6px 12px;
  outline: none;
  border: none;
  //& ~ .#{$btn-prefix-cls} {
  //  margin-left: 6px;
  //}
  /*按钮颜色*/
  @each $key, $value in $colors {
    &.#{$btn-prefix-cls}-#{$key} {
      & {
        background-color: rgba($value, 0.6);
      }
    }
  }

  /*按钮大小*/
  @each $key, $value in $font-sizes {
    &.#{$btn-prefix-cls}-#{$key} {
      & {
        font-size: $value;
        padding: map_get($paddings, $key);
      }
    }
  }
  /*按钮形状*/
  @each $key, $value in $border-radiuses {
    &.#{$btn-prefix-cls}-#{$key} {
      & {
        border-radius: $value;
      }
    }
  }

  /*按钮禁用状态*/
  &[disabled=disabled] {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
    &, & * {
      color: black;
    }
  }

  /*长按钮*/
  &.#{$btn-prefix-cls} {
    &#{&}-long {
      width: 100%;
      display: block;
      margin: 0;
    }
  }
}

.#{$btn-prefix-cls}-group {
  display: inline-block;
  .#{$btn-prefix-cls} {
    margin-left: 0;
    border-radius: 0;
    float: left;
    display: block;
  }
  /*按钮形状*/
  @each $key, $value in $border-radiuses {
    &.#{$btn-prefix-cls}-group-#{$key} {
      & {
        border-radius: $value;
        overflow: hidden;
      }
    }
  }
}




