$btn-prefix-cls: #{$css-prefix}btn;

.#{$btn-prefix-cls} {
  background: transparent;
  color: $text-color-light;
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 6px 12px;
  outline: none;
  &[disabled=disabled] {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
  }
}

.#{$btn-prefix-cls} {
  &#{&}-long {
    width: 100%;
  }
}

@each $type in 'primary', 'ghost', 'dashed', 'text', 'info', 'success', 'warning', 'error', 'default' {
  .#{$btn-prefix-cls}-#{$type} *{
    color: map_get($colors, $type);
  }
}
