$btn-prefix-cls: #{$css-prefix}btn;

.#{$btn-prefix-cls} {

  /*按钮默认样式*/
  background-color: rgba(255, 255, 255, 0.1);
  &, & * {
    color: $text-color-light;
  }
  padding: 6px 12px;
  outline: none;
  border: none;

  /*按钮颜色*/
  @each $key, $value in $colors {
    &.#{$btn-prefix-cls}-#{$key} {
      & {
        background-color: rgba($value,0.6);
      }
    }
  }

  /*按钮禁用状态*/
  &[disabled=disabled] {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
    &, & * {
      color: black;
    }
  }

  /*长按钮*/
  &.#{$btn-prefix-cls} {
    &#{&}-long {
      width: 100%;
    }
  }
}




