.#{$css-prefix-modal}-shadow {
  @include fill-window;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .#{$css-prefix-modal}-content {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.#{$css-prefix-modal}-content-none {
      border-radius: 0;
    }
    &.#{$css-prefix-modal}-content-fillet {
      border-radius: 12px;
    }

    .#{$css-prefix-modal}-head, .#{$css-prefix-modal}-foot {
      height: 36px;
      color: $text-color-light;
      display: flex;
      align-items: center;
    }
    .#{$css-prefix-modal}-body {
      flex: 1;
    }
    .#{$css-prefix-modal}-head {
      position: relative;
      padding-left: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      .close-icon {
        height: 100%;
        width: 36px;
        position: absolute;
        right: 0;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: blueviolet;

        @include transition-all;
        &:hover {
          transform: rotate(180deg);
          color: $text-color-main;
        }
      }
      .default-header {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .#{$css-prefix-modal}-foot {
      .#{$css-prefix-confirm-modal}-foot {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        $bg:rgba(0, 0, 0, 0.1);

        border-top: 2px solid $bg;
        .left, .right {
          flex: 1;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          @include transition-all;
          &:hover {
            background-color: rgba(255,255,255,0.1);
          }
        }
        .left {
          border-right: 1px solid $bg;
        }
        .right {
          border-left: 1px solid $bg;
        }
      }
    }

  }
}
